:root{
	--footer-text-color: #8a8d91;
}

*{
	font-family: Helvetica, Arial, sans-serif;
}

/* body left */

.Container{
	display: flex;
	background: #f0f2f5;
	padding-top: 72px;
	padding-bottom: 112px;
}

.Fb{
	display: flex;
	max-width: 980px;
	height: 538px;
    padding: 20px 0px;
	margin: 0 auto;
}

.Body-Left{
	padding: 112px 0 16px;
}

.Facebook_div_img{
	height: 46px;
}

.ContainerInformation_p{
	width: 90%;
	font-size: 28px;
	padding-top: 20px;
}


.login{
	margin: 0;
}

.Body-Right{
	width: 400px;
	background: #fff;
	border-radius: 10px;
	margin-top: 40px;
	padding: 17px 15px;
	box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.25);
}

.Input-Enter_Button, .Input_Login input{
	width: 100%;
	height: 50px;
}

.Input_Login input{
	padding: 0;
	margin-bottom: 10px;
	border-radius: 5px;
	border: 1px solid #dddfe2;
	padding: 18px;
	font-size: 16px;
}

.Input-Enter_Button{
	background: #1877f2;
	color: #FFFFFF;
	font-size: 20px;
	font-weight: 600;
	cursor: pointer;
	margin: 10px 0;
	border-radius: 10px;
	border-style: none;
}

.Input-Enter_Button:hover{
	background: #295BFD;
}

.Input_forgotten-password{
	text-align: center;
	margin: 8px 0;
	font-size: 14px;
}

.Input_forgotten-password a{
	color: #2328FF;
	text-decoration: none;
}

.Input_forgotten-password a:hover{
	text-decoration: underline;
}

.separator{
	border-bottom: 1px solid #dadde1;
	margin: 20px 16px;
}

.Input-Register{
	text-align: center;
}

.Input-Register_Button{
	margin: 6px;
	background: #42b72a;
	color: #ffffff;
	font-size: 17px;
	font-weight: 600;
	border-style: none;
	border-radius: 10px;
	width: 52%;
	height: 50px;
}

.reg-new-page{
	margin-top: 30px;
	text-align: center;
	font-size: 14px;
}

.reg-new-page_p a{
	text-decoration: none;
	color: #000;
	margin: 0;
	font-size: 14px;
	font-weight: 600;
}

/* footer */

footer{
	width: 100%;
}


.nav-footer{
	text-align: center;
	padding: 0 90px;
	min-width: 300px;
}

.nav-languajes{
	width: 100%;
	padding: 28px 2px 10px;
	font-size: 12px;
}

.nav-languajes_ul li{
	display: inline-block;
	list-style: none;
}

.nav-languajes_ul li a{
	text-decoration: none;
	margin-right: 8px;
	color: var( #8a8d91);
}

.nav-languajes_ul li a:hover, 
.nav-selects__ul li a:hover{
	text-decoration: underline;
}

.footer-separator{
	margin: 0;
	width: 100%;
}


.nav-selects__ul{
	margin-top: 10px;
}

.nav-selects__ul li{
	display: inline-block;
	font-size: 12px;
}

.nav-selects__ul li a{
	text-decoration: none;
	padding-right: 15px;
}

.copyright{
	font-size: 11px;
	font-weight: 0;
	padding: 20px 0px;
}

@media (max-width: 1100px){
	.Fb{
		padding: 20px 40px;
	}

	.ContainerInformation_p{
		font-size: 24px;
}

@media  (max-width:960px){
.Fb{
	display: block;
	text-align: center;
	height: 535px;
}

.Body-Left{
	margin-top: -160px;
}

.Facebook_div_img{
	height: 45px;
}

.ContainerInformation_p{
	width: 400px;
	height: 80px;
	margin: 0 auto;
	font-size: 25px;
}

.Body-Right{
	margin: 50px auto 0px;
}

.nav-footer{
	padding: 0 10px;
}

.nav-languajes_ul li{
	margin: 5px 0;

}

.copyright{
	padding: 30px 0px 20px;
}

}
